* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1B1D31;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
form {
    background-color: #24253C;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 600px;  /* Adjusted width for the form */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}
form h2 {
    font-size: 30px;
    color: #edf0f0;
    margin-bottom: 35px;
}
.buscar {
    background-color: #181928;
    display: flex;
    flex-direction: column;
    padding: 17px;
    gap: 15px;
    width: 600px;  /* Adjusted width for the search box */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align:left;
    border-radius: 17px;
}
.text {
    color: #edf0f0;
}
.lista {
    background-color: #181928;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 600px;  /* Adjusted width for the list */
    height: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align:left;
    border-radius: 17px; 
    margin-top: 15px;
}
.agregar {
    display: flex;
    flex-direction: column; /* Change to column to stack label and input */
    align-items: flex-start; /* Align items to the start */
    width: 100%;  /* Make sure the container takes full width */
    padding: 20px;  /* Adjusted padding for better spacing */
    gap: 10px;  /* Adjusted gap between elements */
}
label {
    color: #edf0f0; /* White color for labels */
    font-size: 16px;
}
input, select {
    padding: 17px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid #603452;
    outline: none;
    color: #ffffff;
    font-size: 16px;
    width: calc(100% - 40px);  /* Ensure input and select elements fit within the container */
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #24253C;  /* Dark background for the dropdown */
    color: #ffffff;  /* White text color */
}
select option {
    background-color: #24253C;  /* Dark background for options */
    color: #ffffff;  /* White text color */
}
select:focus {
    border-color: #603452;  /* Border color on focus */
}
.button-agregar {
    padding: 17px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid #603452;
    outline: none;
    color: #ffffff;
    font-size: 16px;
    margin-top: 15px; 
}
