<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>

<body>
    <form (ngSubmit)="guardarEquipo()">
        <h2>Registro equipo</h2>

        <div class="agregar">
            <label for="nombreEquipo">Nombre:</label>
            <input type="text" id="nombreEquipo" placeholder="Nombre" [(ngModel)]="nombreEquipo" name="nombreEquipo">
        </div>

        <div class="agregar">
            <label for="estado">Estado:</label>
            <select id="estado" name="estado" [(ngModel)]="estadoEquipo">
                <option [ngValue]="true">Activo</option>
                <option [ngValue]="false">Inactivo</option>
            </select>
        </div>

        <div class="agregar">
            <label for="jugadores">Jugadores:</label>
            <select id="jugadores-select" name="jugadores"></select>
        </div>

        <div class="agregar">
            <input type="button" class="button" value="Agregar jugador" (click)="agregarJugador()">
        </div>

        <div class="agregar">
            <label>Jugadores seleccionados:</label>
            <select id="jugadores-lista" multiple></select>
        </div>

        <div class="agregar">
            <input type="submit" class="button" value="Guardar">
        </div>
    </form>
</body>

</html>
